version=pmwiki-2.2.53 ordered=1 urlencoded=1
agent=Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.95 Safari/537.36
author=Admin
cauthor=Admin
charset=UTF-8
csum=
ctime=1375357226
host=127.0.0.1
name=System.Config
rev=2
targets=
text=(:messages:)%0a!! 组默认播放器%0a(:input form "?action=UpdateConfig":)%0a(:ConfigureDefaultPlayer:)%0a(:input submit:)%0a(:input end:)
time=1375363115
author:1375363115=Admin
diff:1375363115:1375357226:=1d0%0a%3c (:messages:)%0a
host:1375363115=127.0.0.1
author:1375357226=Admin
diff:1375357226:1375357226:=1,5d0%0a%3c !! 组默认播放器%0a%3c (:input form "?action=UpdateConfig":)%0a%3c (:ConfigureDefaultPlayer:)%0a%3c (:input submit:)%0a%3c (:input end:)%0a\ No newline at end of file%0a
host:1375357226=127.0.0.1
