<!--
需要变量
LOCALVERSION
$TAGS => tag
$SOURCE : string
messages => $MessageFmt
IsMuti
-->
<!-- BEGIN: main -->
<table border='0' cellpadding='3' cellspacing='0' >
    <tr>
        <td style="white-space: nowrap;" valign='top'>
            <div  style='color: black; background-color: #f7f7f7; border: 1px solid #cccccc; padding: 4px;' >
                <!-- BEGIN: source -->
                <p>来源：{SOURCE}</p>
                <!-- END: source -->
                <!-- BEGIN: tagListEditable -->
                <form action='http://localhost/Acfun4p/1000' method='post'>
                    <input type='hidden' name='action' value='xestagpages' />
                    Tags:&nbsp;&nbsp;{TAGS}<input type='text' name='Tags' class='inputbox' size='6' /><input type='submit' value='追加Tag' class='inputbutton' />
                </form>
                <!-- END: tagListEditable -->
                <!-- BEGIN: tagListNormal -->
                <p>Tags:&nbsp;&nbsp;{TAGS}</p>
                <!-- END: tagListNormal -->
                <!-- BEGIN: messages -->
                <p>{MESSAGES}</p>
                <!-- END: messages -->
            </div>
        </td>
        <td rowspan='3' bgcolor='#f7f7f7' width="99%" valign='top'>
            <!-- BEGIN: PartContainer -->
            <div  style='font-size: small;' > 
                <p><strong>分P:</strong><br />
                <!-- BEGIN: PARTDATA -->
                {PARTTEXT}
                <!-- END: PARTDATA -->
             </p></div>
            <!-- END: PartContainer -->
            <p><strong>备注:</strong></p>
            <!-- BEGIN: DESC -->
            {DESCTEXT}
            <!-- END: DESC -->
        </td>
    </tr>
    <tr >
        <td   valign='top' style="border-top: 3px solid #cccccc;white-space: nowrap;">
            <!-- BEGIN: DanmakuBar -->
            <!-- BEGIN: Script -->
            <script type="text/javascript">
                //<![CDATA[
                DMF = {
                    "Group"     : "{GROUP}",
                    "CommentId" : "{DANMAKUID}",
                    "Prefix"    : "{SUID}"
                }

                function showError(str) {
                    swfobject.removeSWF("flashcontent");
                    var errorstr = Date() + "<br />" + str + "<br />" + "请修正错误后刷新播放<br />-----------<br />";
                    $("#flashcontainer").append(errorstr);
                }
                //response format:
                // {
                //      "code"  : int,
                //      "errmsg": string,
                //      "msg"   : string
                // }
                function Validate() {
                    $.getJSON("/poolop/validate/" + DMF.Group + "/" +  DMF.CommentId +"/dynamic", function(result){
                        if (result.code < 0 ) {
                            showError("验证失败" + result.code + "<br />" + result.errormsg + "<br />" + result.msg);
                        } else {
                            refreshPlayer();
                        }
                    });
                }
                
                function _upload(result) {
                    alert(result.code);
                }

                function Upload() {
                }

                function Clear(pool) {
                    $.getJSON("/poolop/clear/" + DMF.Group + "/" +  DMF.CommentId + "/" + pool, function(result){
                        if (result.code < 0 ) {
                            showError("弹幕池清空失败" + result.code + "<br />" + result.errormsg + "<br />" + result.msg);
                        } else {
                            refreshPlayer();
                        }
                    });
                }

                function Merge(poolfrom, poolto) {
                    $.getJSON("/poolop/merge/" + DMF.Group + "/" +  DMF.CommentId + "/" + poolfrom + "/" + poolto, function(result){
                        if (result.code < 0 ) {
                            showError("弹幕池合并失败" + result.code + "<br />" + result.errormsg + "<br />" + result.msg);
                        } else {
                            refreshPlayer();
                        }
                    });
                }

                function Randomize(pool) {
                    $.getJSON("/poolop/randomize/" + DMF.Group + "/" +  DMF.CommentId + "/" + pool, function(result){
                        if (result.code < 0 ) {
                            showError("弹幕池id随机化失败" + result.code + "<br />" + result.errormsg + "<br />" + result.msg);
                        } else {
                            refreshPlayer();
                        }
                    });
                }
                //]]>
            </script>
            <!-- END: Script -->
            <!-- BEGIN: Upload -->
            <form action='/poolop/post/{GROUP}/{DANMAKUID}' class='DanmakuBar' name="CmtFileUpload" enctype='multipart/form-data' method='post'>
                <input name='CmtFile' type='file' />
                追加:<input name='Append' type='checkbox' value='true' checked="checked"/>
                <input class='inputbutton' type='submit' value='提交' onclick="javascript:Upload()" />
            </form>&nbsp;&nbsp;
            <!-- END: Upload -->
            <!-- BEGIN: Download -->
            <form action='/poolop/loadxml/{GROUP}/{DANMAKUID}' class='DanmakuBar' method='get'>
                下载格式：
                <select class='inputbox' name='format'>
                    <!-- BEGIN: Format -->
                    <option value='{FORMAT}'>{FORMAT}</option>
                    <!-- END: Format -->
                </select>
                分割：
                <select class='inputbox' name='split'>
                    <option value='0'>无限</option>
                    <option value='199'>199 </option>
                    <option value='500'>500 </option>
                    <option value='1000'>1000</option>
                </select>
                附件：<input checked='checked' name='attach' type='checkbox' value='true' />
                <input class='inputbutton' type='submit' value='下载' />
            </form>&nbsp;&nbsp;
            <!-- END: Download -->
            <!-- BEGIN: Refresh--> <span class='DanmakuBar'> <a style='color: black' href="javascript:refreshPlayer();">刷新播放器</a> </span><!-- END: Refresh-->
            <!-- BEGIN: NewLine--> <br /> <!-- END: NewLine-->
            <!-- BEGIN: DynamicPool -->
            <span style='color: black; background-color: #f7f7f7; border: 1px solid #cccccc; padding: 4px; line-height: 2em;'>
                <a class='urllink' href='javascript:Validate();' style='color: black'>验证弹幕池</a>&nbsp;&nbsp;
                <a class='wikilink' href='/DMR/{SUID}{DANMAKUID}?action=edit' style='color: black'>弹幕池编辑</a>&nbsp;&nbsp;
            </span>
            <!-- END: DynamicPool -->
            <!-- BEGIN: PageOperation -->
            <span style='color: black; background-color: #f7f7f7; border: 1px solid #cccccc; padding: 4px; line-height: 2em;'>
                <a class='wikilink' href='?action=edit' style='color: black'>编辑Part</a>&nbsp;&nbsp;
            </span>
            <!-- END: PageOperation -->
            <!-- BEGIN: PoolOperation -->
            <span style='color: black; background-color: #f7f7f7; border: 1px solid #cccccc; padding: 4px; line-height: 2em;'>
                清空弹幕池： 
                    <a class='urllink' href='javascript:Clear(&quot;static&quot;);'  style='color: black'>静态</a>&nbsp;
                    <a class='urllink' href='javascript:Clear(&quot;dynamic&quot;);' style='color: black'>动态</a>&nbsp;
                    <a class='urllink' href='javascript:Clear(&quot;all&quot;);'     style='color: black'>双杀</a>&nbsp;&nbsp;&nbsp;
                合并弹幕池： 
                    <a class='urllink' href='javascript:Merge(&quot;static&quot;, &quot;dynamic&quot;);' style='color: black'>S-&gt;D</a>&nbsp;
                    <a class='urllink' href='javascript:Merge(&quot;dynamic&quot;, &quot;static&quot;);' style='color: black'>D-&gt;S</a>&nbsp;
                弹幕id随机化：
                    <a class='urllink' href='javascript:Randomize(&quot;static&quot;);' style='color: black'>静态</a>&nbsp;
                    <a class='urllink' href='javascript:Randomize(&quot;dynamic&quot;);' style='color: black'>动态</a>&nbsp;
                    <a class='urllink' href='javascript:Randomize(&quot;all&quot;);' style='color: black'>双开</a>&nbsp;&nbsp;&nbsp;
            </span>
            <!-- END: PoolOperation -->
            <!-- END: DanmakuBar -->
            
            <div id="flashcontainer" style="border-top: 3px solid #cccccc;">
                <div id='flashcontent'> </div>
            </div>
            <script type="text/javascript">
                //<![CDATA[
                function loadPlayer() {
                    var flashvars = {};
                    var params = {};
                    <!-- BEGIN: FlashVars -->{FLASHVARS.Name} = {FLASHVARS.Value};
                    <!-- END: FlashVars -->
                    <!-- BEGIN: PlayerLoader -->
                    
                    swfobject.embedSWF("{URL}", "flashcontent", "{WIDTH}", "{HEIGHT}", "10.0.0","expressInstall.swf", flashvars, params);
                    <!-- END: PlayerLoader -->
                }
                
                function refreshPlayer() {
                    $('#flashcontainer').html('');
                    swfobject.removeSWF("flashcontent");
                    var d = document.createElement("div");
                    d.setAttribute("id", "flashcontent");
                    document.getElementById("flashcontainer").appendChild(d);
                    loadPlayer();
                }
                
                loadPlayer();
                //]]>
            </script>
            
        </td>
    </tr>
    <tr>
        <td valign='top' style="border-top: 3px solid #cccccc;white-space: nowrap;">
            <p>切换播放器：&nbsp;&nbsp;
                <!-- BEGIN: PlayerLoaderCurrent -->
                <strong>{NAME}</strong>&nbsp;&nbsp;
                <!-- END: PlayerLoaderCurrent -->
                <!-- BEGIN: PlayerLoaderAdmin -->
                <a class='urllink' href='{PLAYER.URL}'>{PLAYER.Name}</a><a class='urllink' href='{PLAYER.SetDefaultUrl}'>&nbsp;<sup>Def</sup></a>&nbsp;&nbsp;
                <!-- END: PlayerLoaderAdmin -->
                <!-- BEGIN: PlayerLoaderNormal -->
                <a class='urllink' href='{PLAYER.URL}'>{PLAYER.Name}</a>&nbsp;&nbsp;
                <!-- END: PlayerLoaderNormal -->
            </p>
        </td>
    </tr>
</table>
<!-- END: main -->